@using MauiAppBlazorTest.Models
@namespace MauiAppBlazorTest.Components

@if (Model.State != State.Dummy)
{
    <MudButton Variant="Model.GetVariant()"
           Style="@Model.Style()"
           @onclick="async () => { await OnToggledChanged(); }">
        @Model.Label
    </MudButton>
}
else
{
    <div style="@Model.Style()"></div>
}
@code {
    [Parameter] 
    public ElementButtonModel Model { get; set; }
    
    [Parameter] 
    public EventCallback<ElementButtonModel> OnModelChanged { get; set; }

    private async Task OnToggledChanged()
    {
        if (Model.State == State.Dummy)
        {
            return;
        }
        Model.State = Model.State == State.Active ? State.Inactive : State.Active;
        await OnModelChanged.InvokeAsync(Model);
    }
}