@page "/"
@using MauiAppBlazorTest.Components
@using MauiAppBlazorTest.Models
@using System.Text.Json
@using System.Text
@using System.Net.Mime
@using System.Net.Http.Json
@using System.Threading
@using MauiAppBlazorTest.Interfaces
@using MauiAppBlazorTest.Values
@using MauiAppBlazorTest.Controller

@inject HttpClient HttpClient;
@inject IButtonActivationController ButtonActivationController;
@inject IButtonGrid ButtonModels;
@inject NavigationManager Navigation;


<div style="padding-left: 2vw; padding-right: 2vw; padding-top: 2vw;">
    @foreach (var row in ButtonModels.Grid)
    {
        <div style="justify-content: center; display: flex;">
            @foreach (var model in row)
            {
                <SwitchButton Model="model" OnModelChanged="async x => await SingleButtonClicked(x)" />
            }
        </div>
    }
    <OptionsDialog IsVisible="_isDialogVisible"
                   OnColorActivated="async x => await DialogColorButtonClicked(x)"
                   OnColorsActivated="async x => await DialogAllButtonClicked(x)"
                   OnClosed="() => { _isDialogVisible = false; }"
                   CategoryButtons="new CategoryButtonModel()"
                   />
</div>
<MudButton Style="position: absolute; width: 9vw; height: 4.3vw; top: 0; margin: 8.8vw auto auto 33.2vw; font-size: 1.2vw; background-color: transparent; border-color: black;"
           OnClick="OpenDialog"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Kombis
</MudButton>
<MudButton Style="position: absolute; width: 9vw; height: 4.3vw; top: 0; margin: 8.8vw auto auto 42.2vw; font-size: 1.2vw; background-color: transparent; border-color: black;"
           OnClick="async () => await StartAnimation(false)"
           Variant="Variant.Filled"
           Color="Color.Secondary">
    Snail
</MudButton>
<MudButton Style="position: absolute; width: 9vw; height: 4.3vw; top: 0; margin: 8.8vw auto auto 51.2vw; font-size: 1.2vw; background-color: transparent; border-color: black;"
           OnClick="async () => await StartAnimation(true)"
           Variant="Variant.Filled"
           Color="Color.Secondary">
    Random
</MudButton>
<MudButton Style="position: absolute; width: 9vw; height: 4.3vw; top: 0; margin: 8.8vw auto auto 60.2vw; font-size: 1.2vw; background-color: transparent; border-color: black;"
           OnClick="async () => await SetClock()"
           Variant="Variant.Filled"
           Color="Color.Secondary">
    Time
</MudButton>